<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                [%d{dd-MM HH:mm:ss.SSS}][%-6.-6X{job}-%-5.5X{index}-%-6.-6X{identifier}] %-5level - %msg {%logger{0}} [%thread] %n
            </Pattern>
        </layout>
    </appender>
    
    <logger name="org.mongodb.driver" level="INFO"/>
    
    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
